<footer class="site-footer">
  <p class="footer-emails">
    <a href="mailto:{{ site.email }}">{{ site.email }}</a> &middot;
    <a href="mailto:{{ site.email_northwestern }}">{{ site.email_northwestern }}</a>
  </p>
  <p class="footer-links">
    <a href="{{ site.linkedin }}">LinkedIn</a> &middot;
    <a href="{{ site.youtube }}">YouTube</a> &middot;
    <a href="{{ site.twitter }}">X / Twitter</a> &middot;
    <a href="{{ site.substack }}">Knowledge Problem</a>
  </p>
  <p class="footer-copyright">&copy; {{ 'now' | date: "%Y" }} Lynne Kiesling</p>
</footer>
